.container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px; /* Menor espacio entre las cajas */
	justify-content: center; /* Centrar cajas */
  }
  .category-box {
	width: 200px; /* Tamaño reducido */
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #f9f9f928;
  }
  .category-box img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
  }
  .category-title {
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
  }
  
  /* Media Queries para pantallas pequeñas */
  @media (max-width: 600px) {
	.category-box {
		width: 150px; /* Aún más pequeño para móviles */
		padding: 8px;
	}
	.category-title {
		font-size: 14px; /* Tamaño de texto más pequeño */
	}
  }
  
  /* Media Queries para pantallas muy pequeñas, como móviles de menor resolución */
  @media (max-width: 400px) {
	.category-box {
		width: 120px; /* Ajuste adicional para pantallas muy pequeñas */
		padding: 5px;
	}
	.category-title {
		font-size: 12px; /* Tamaño de texto ajustado para caber mejor */
	}
  }