.header {
	background-color: #120c10;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
  }

  .header img {
    height: 40px;         /* Establece la altura del header */
    max-width: 90%;      /* Asegura que la imagen no se desborde */
    object-fit: contain;   /* Mantiene la proporción de la imagen */
}

#artist-search {
    position: relative; /* Permite posicionar elementos internos */
    width: 100%; /* Asegura que ocupe todo el ancho */
    padding: 10px; /* Espaciado alrededor */
	display: flex;
	justify-content: center;
}

.search-wrapper {
    display: flex; /* Alinea el input y el botón en fila */
    align-items: center; /* Centra verticalmente */
    background-color: #b585a0; 
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
	width: 300px;
	margin: auto;
}

#artist-name {
    flex: 1;
    padding: 10px; 
    border: none; 
    outline: none; 
    font-size: 16px;
    color: #333;
}

#search-btn {
    background-color: #b585a0; /* Color de fondo del botón */
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

#search-btn img {
    height: 16px; /* Ajusta la altura del ícono */
    width: 16px; /* Ajusta el ancho del ícono */
}
